<div class="lockscreen-wrapper">
  <div class="lockscreen-logo">
    <a href="/"><b>Life</b>Project</a>
  </div>
  <!-- User name -->
	<div class="lockscreen-name text-center">Bem vindo <b><%= @user.full_name %></b>,<br> Por favor verifique seu email, e ative seu cadastro.</div>

  <div class="lockscreen-footer text-center">
    Copyleft &copy; 2018 <b><a href="/" class="text-black">LifeProject</a></b><br>
    All rights reserved
  </div>
</div>
