<% content_for :head do %>
  <%= t '.title' %>
<% end %>

<% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible">
      <%= flash[:notice] %>
    </div>
<% end %>

<div class="box box-primary">
<div class="box box-default">
  <div class="box-body">
    <div class="row col-md-12">
      <div class="col-md-6">
          <%=raw t '.quotation', :quotation => @quotation.quotation %>
       </div>
     </div>
    </div>

    <div class="box-footer">
      <%= button_show new_quotation_path,edit_quotation_path(@quotation),quotations_path %>
    </div>
  </div>
</div>
